body {
  background-color: beige;
}
input {
  height: 2rem;
  margin: 0.1rem;
  font-weight: 900;
}
input[type="text"] {
  color: #00bcd4;
}
#glyphlist {
  width: 100%;
}
#navigation {
  max-width: 50em;
  margin: auto;
  text-align: left;
}
#wrapper {
  display: flex;
}
#content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  margin: 0 10rem 0 10rem;
}
.glyph {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  background: white;
  padding: 1rem;
}
.pixel {
  border: 1px solid lightgray;
  width: 1rem;
  height: 1rem;
  display: flex;
  margin: 0.07rem;
}
.selected {
  background-color: #00bcd4;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
